.bg-1 {
    background-color: aquamarine;
}

.bg-2 {
    background-color: yellowgreen;
}

.bg-3 {
    background-color: red;
}

.bg-4 {
    background-color: yellow;
}

.debug {;
    border: 2px solid black;
}

.h-100px {
    height: 100px;
}

.h-400px {
    height: 400px;
}

.rounded-15 {
    border-radius: 15px;
}

