
/* UTILITIES */

/* BACKGROUND COLORS */
    .bg-1 {
        background-color: #1abc9c;
    }

    .bg-2 {
        background-color: #2c3e50;
    }

    .bg-3 {
        background-color: #3a546d;
    }

    .bg-4 {
        background-color: white;
    }

/* TYPO */
    /* colors */
    
.color_2 {
    color: #2c3e50;
}

.color_4 {
    color: white;
}

.color_inherit {
    color: inherit;
}

/* MISC */
    /* debug */
    .debug {
        border: 2px solid black;
    }

/* BORDERS */
    /* rounded borders */
    .rounded-15 {
        border-radius: 15px;
    }

/* SPACING */

    /* padding */
    .p-top-130px {
        padding-top: 130px;
    }

/* POSITIONING */
    /* grid */
    .place-center-end {
        place-items: center end;
    }

/* SIZES */
    /* width */
    .w-icon-1 {
        width: 18px;
    }
    .w-icon-2 {
        width: 40px;
    }

    /* height */
    .h-100px {
        height: 100px;
    }
    .h-250px {
        height: 250px;
    }
    .h-400px {
        height: 400px;
    }

    /* BUTTONS */
    .btn_outline_4 {
        border: 2px solid white;
    }

    .btn_outline_4:hover {
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
    }
    .boo_btn_1 {
        background-color: #1abc9c;
        border: none;
    }
    .boo_btn_1:hover {
        background-color: #469b8a;
        color: white;

    }

/* REUTILIZE */
    .divider-bar {
        width: 25%;
        height: 3px;
    }

/* STYLING */
    /* GENERAL */
    body {
        color: white;
        font-weight: bold;
    }

    /* NAVIGATION */

    .navbar.bg-2 ul li a.navigation-link {
        color: white;
    }

    .navbar.bg-2 ul li a.navigation-link:hover {
        color: #1abc9c;
    }

    /* FORM */
    /* .boo_form_style {
        border: none;
        border-bottom: 1px solid black;
        height: 3.8rem;
    } */
    .boo_form_style:focus {
        border-bottom: 2px solid black;
        box-shadow: none;
    }

    input,
    textarea {
        width: 100%;
    }

    input:not([type="submit"]),
    textarea {
        border: none;
        border-bottom: 1px solid grey;
        height: 3.8rem;
    }

    input:not([type="submit"]):focus,
    textarea:focus {
        border-bottom: 2px solid black;
        outline: none;
    }

    textarea {
    }

    ::placeholder {
        color: black;
        font-weight: 600;
        font-size: 1.3rem;
    }



