body {
    color: white;
}

.bg-1 {
    background-color: aquamarine;
}

.bg-2 {
    background-color: yellowgreen;
}

.bg-3 {
    background-color: red;
}

.bg-4 {
    background-color: rgb(132, 0, 255);
}

.bg-5 {
    background-color: dodgerblue
}

.bg-6 {
    background-color: rgb(20, 29, 58);
}

.debug {;
    border: 2px solid black;
}

.h-100px {
    height: 100px;
}

.h-400px {
    height: 400px;
}

.rounded-15 {
    border-radius: 15px;
}

.bttn {
    border: 2px solid white;
}

.w-18px {
    width: 18px;
}

.bttn img {
    filter: invert(1);
}
